# Python
__pycache__/
*.py[cod]
*.so

# Environments
.venv/
venv/
env/
.env

# YOLO / Ultralytics
runs/
wandb/
*.pt
*.onnx

# Datasets
data/raw/
data/processed/
*.jpg
*.png
*.mp4

# IDEs
.vscode/
.idea/